
body{
	background-color: white;
	 height: 100%;
    margin: 0;
    padding: 0;
	background-image: url('https://wallpaperaccess.com/full/312303.png');
	background-size: cover;
	color: #1AFF80FF;
    font: 1.3rem Inconsolata, monospace;
}

@font-face {
  font-family: pipBoy;
  src: url(monofonto.ttf);
}

nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 5vh;
	padding-bottom: 100%;
	padding-right: auto;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-color: #1AFF80FF;

}

nav a {
	color: #1AFF80FF;
	padding-right: 1vh;
	text-decoration: none;
	text-shadow: .1vh .1vh ;
	
}
h2 {
	display: block;
    font-size: 1.2em;	
	font-weight: bold;
}

h1 {
	display: block;
	font-size: 2em;
	font-weight:bold;
}
article {
	width: 75%;
	text-align:middle;
    margin: 0 auto;
	
}

article ul {
	list-style-type:none;
}

article a {
	color:green;
	
}
article a:visited {
	color: yellow;
}
nav a:hover {
	box-shadow: .1vh .1vh;	
	
	color:#1AFF80FF;
	text-shadow: 5vh 5vh 5vh 5vh;
}

article p {
	font-size: 2vh;
	color: #1AFF80FF;
	
	
}
h1 {
	color: #1AFF80FF;	
}




footer a {
	color: #1AFF80FF;
	padding-right:1vh;
	text-decoration: none;
	background-color:none;
	text-shadow: .1vh .1vh ;
}


footer a:hover {
	box-shadow: .1vh .1vh;
	color: #1AFF80FF;
	text-shadow: 5vh 5vh 5vh 5vh;
	
}	


footer {
	/*border-style: solid;
	border-color: #1AFF80FF;	
	border-bottom: none;
	border-right:none;*/
	position: fixed;
	z-index: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	padding-bottom: 5vh;
	padding: 1vh 5vh;
	padding-left: 160.8vh;
}




