
body{
	background-color: white;
	 height: 100%;
    margin: 0;
    padding: 0;
	background-color: #D9D9DB;
	background-size: cover;
	color: black;
    font: 1.3rem Inconsolata, monospace;
}

@font-face {
  font-family: pipBoy;
  src: url(monofonto.ttf);
}

nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 10vh;
	padding-bottom: 100%;
	padding-right: auto;
	background-color: #D9D9DB;
}

nav a {
	color: black;
	padding-right: 1vh;
	text-decoration: none;
	text-shadow: .1vh .1vh ;
}
h2 {
	display: block;
    font-size: 1.2em;	
	font-weight: bold;
	background-color:#EDEDF0;
}

h1 {
	display: block;
	font-size: 2em;
	font-weight:bold;
	background-color:#EDEDF0;

}

h3 {
	display: block;
	font-size: 1em;
	background-color:#EDEDF0;
}
article {
	width: 75%;
	padding-bottom: 5vh;
	padding-top: 5vh;
    margin: auto;
	padding-left: 10vh;
	background-color:#EDEDF0;
	padding-bottom: auto;
}

article ul {
	list-style-type:none;
}

article a {
	color:green;
	
}
article a:visited {
	color: #93C99F;
}

article a:hover{
	background-color:black;
}

nav a:hover {
	box-shadow: .1vh .1vh;	
	color: white;
	background-color:black;
	text-shadow: 5vh 5vh 5vh 5vh;
}

article p {
	font-size: 1em;
	color: black;
}
h1 {
	color: black;	
}

.top {
	background-color: #D9D9DB;
}

footer a {
	color: black;
	padding-right:1vh;
	text-decoration: none;
	background-color:none;
	text-shadow: .1vh .1vh ;
}

footer a:hover {
	box-shadow: .1vh .1vh;
	color: white;
	background-color:black;
	text-shadow: 5vh 5vh 5vh 5vh;	
}	

footer {
	background-color: #D9D9DB;
	/*border-style: solid;
	border-color: #1AFF80FF;	
	border-bottom: none;
	border-right:none;*/
	position: fixed;
	z-index: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	padding-bottom: 5vh;
	padding: 1vh 5vh;
	padding-left: 160.8vh;
}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #EDEDF0;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.expand{
	display:block;
	width: 33%;
	height: auto;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}